body {
  background-color: rgb(34, 33, 33);
  color: rgb(0, 0, 0);
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
}
#container{
  display: grid;
  grid-template-columns: 70px 70px 70px 70px; 
  grid-template-rows: 70px 70px 70px 70px 70px 70px; 
  gap: 10px;
  grid-template-areas:
  "header header header header"
  "oblicz oblicz oblicz oblicz"
  "cyfr cyfr cyfr oblicz"
  "cyfr cyfr cyfr oblicz"
  "cyfr cyfr cyfr oblicz"
  "cyfr cyfr cyfr oblicz";
  justify-content: center;
}
#tablica{
background-color: #BAD7E9;
grid-column: 1/ -1;
border: none;
font-size: 30px;
}
.operator , .wynik{
  font-size: 30px;
  background-color: #EB455F;
  border: none;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 310px;
  text-align: center;
}
.liczba , #reset{
  font-size: 30px;
  background-color: #EB455F;
  border: none;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70px;
  text-align: center;
}
.liczba, #reset{
  background-color: #FCFFE7;
}
.operator{
  background-color: 13005A;
}
.wynik{
  grid-row: 4 / 9; 
  grid-column: 4
}
.display {
  grid-column: 1 / span 4;
  grid-row: 1 / span 2;
  min-height: 20%;
  max-height: min-content;
  background-color:rgba(255, 255, 255, 0.616);
  box-shadow:  rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  color: rgb(0, 0, 0);
  word-break: break-all;
  justify-content: left;
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 900;
  padding-left: 20px;
}

.currentNumber {
  font-size: 45px;
}

.previousNumber1{
  color: rgb(182,182,182);
  font-size: 30px;
}

.mathSign {
  font-size: 32px;
}